@import "../../../../../dist/css/variables.css";

:host {
  display: flex;
  justify-content: center;
  margin-top: -20px;
  z-index: 200;
}

input {
  width: 80%;

  border: none;
  background-color: var(--tertiary-background-color);

  font-size: 1rem;
  color: var(--secondary-text-color);
  text-align: center;

  padding: 0.625rem;
  box-sizing: border-box;
  border-radius: 6px;
}

input::placeholder {
  color: var(--secondary-text-color);
}

input:focus{
  outline: none;
}
